<div *ngIf="visible" [@fadeInOut] class="card text-center tender fadeIn">
    <div class="card-header">
        <p class="card-title">{{tender.title}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{tender.description}}</p>
        <a (click)="remove()" class="btn btn-dark">Remove</a>
        <app-tender-update [tender]="tender"></app-tender-update>
    </div>
    <div class="card-footer text-muted">
        {{tender.updatedAtTimestamp * 1000 | date: 'medium' }}
    </div>
</div>
