<div *ngIf="visible" [@fadeInOut] class="card text-center tender fadeIn">
    <div class="card-header">
        <p class="card-title">{{tender.title}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{tender.description}}</p>
        <a (click)="remove()" class="btn btn-primary alert">Remove</a>
    </div>
    <app-tender-modal [tender]="tender"></app-tender-modal>
    <div class="card-footer">
        <p>{{tender.updatedAtTimestamp * 1000 | date: 'medium' }}</p>
    </div>
</div>
