<div style="height: 20vh">
    <a routerLink="/"  mdbBtn color="black" outline="true" mdbWavesEffect class="wow fadeInDown" data-wow-delay="0.4s">Back</a>
    <app-tender-create (tenderCreate)="getCreatedTender($event)"></app-tender-create>
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4">Tenders List</h1>
    </div>
</div>

<div *ngIf="!loading">

    <div class="container">
        <ul>
            <li *ngFor="let tender of tenders" >
                <app-tender [tender]=tender (tenderRemove)="getRemovedTender($event)" ></app-tender>
            </li>
        </ul>
    </div>

    <div infiniteScroll
        [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="2000"
         (scrolled)="onScroll()">
    </div>

</div>

<div *ngIf="loading" style="height: 20vh">
    <div data-wow-delay="0.4s" class="flex-center flex-column">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
